body {
  font-family: "Archivo Black", sans-serif;
  background-color: #311933;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header img {
    filter: blur(2px);
    width: 100%;
    height: auto;
    display: block;
     cursor: default;
}

.main-content {
    color: #b778bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h1:hover {
    animation: glitch .3s linear infinite;
    cursor: default;
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }

.main-content .gombok {
  font-family: "Archivo Black", sans-serif;
    border-style: solid;
    border-color: #c389c9;
    border-radius: 15px;
    background-color: #67386b;
    color: #311933;
    margin-top: 20px;
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.main-content .gombok:hover {
    border-color: #d29cd8;
    color: #482a4b;
    background-color: #76427a;
}

.csapattagok {
    margin-top: 100px;
}

.container {
  text-align: center;
}

.content {
  background-color: #67386b;
  border-style: solid;
  border-color: #c389c9;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  position: relative;
  margin: 0 auto;
}

h2 {
  margin-top: -100px;
  color: #311933;
}

p {
  margin: 0px;
  padding: 0;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left */
}

.main-image {
  width: 200px;
  height: auto;
  transition: opacity 0.4s ease;
  opacity: 1;
}

.main-image.fade-out {
  opacity: 0;
}

/* Member icons inside the square, positioned at the bottom-left */
.member-images {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
}

.member-images img {
  margin: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.4s ease;
  border-radius: 10px;
  border: 2px solid #9e6fb4;
}

.member-images img:hover {
  transform: scale(0.9);
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .content {
      flex-direction: column;
      align-items: center;
  }

  .text-content {
      text-align: center;
  }
}
